<form class="ui stacked segment form" action="/compilation/{{compilation.id}}/addmovie" method="POST">
  <div class="four fields">
    <div class="field">
      <label for="movie">Movie</label>
      <input placeholder="Movie" type="text" name="movie" autofocus required>
    </div>
    <div class="field">
      <label for="director">Director</label>
      <input placeholder="Director" type="text" name="director" required>
    </div>
    <div class="field">
      <label for="runtime">Runtime</label>
      <input placeholder="Runtime" type="text" name="runtime" required>
    </div>
    <div class="field">
      <label for="year">Release Year</label>
      <input placeholder="Release Year" type="text" name="year" required>
    </div>
  </div>
  <button class="ui blue submit button">Add Movie</button>
</form>