{{> menu}}
<section class="ui two column grid segment">
      <div class="ui column">
          <h2 id="b1">Welcome to Mark's Movie Collection!</h2>
            <p>
              This app allows me to share my favourite movies and allows you to add movies also.
            </p>
            <div class="buttons">
              <button class="ui orange button">
                Read more <i class="arrow circle right icon"></i>
              </button>
              <button class="ui purple button">
                Like it? <i class="heart icon"></i>
              </button>
              <button class="ui red button">
                What's your name? <i class="user icon"></i>
              </button>
            </div>
          <div id="readmore" class="ui message">
            <p>
              Click the images on the right to visit the film's IMDB page. Click "Dashboard" to views my favourite films. Click "About" to read about me.
            </p>  
          </div>
        <div class="ui row">
          <div cass="ui row"> 
          </div>
           <div class="ui divider"></div>
            <h3 class="ui center aligned header">
  The Movie Compilation App now contains:
</h3>
<div class="ui two statistics">
  <div class="ui huge statistic">
    <div class="value">
      {{totalCompilations}}
    </div>
    <div class="label">
     Movie Compilations
    </div>
  </div>
    <div class="ui huge statistic">
      <div class="value">
        {{totalMovies}}
      </div>
      <div class ="label">
        Movies
      </div>
    </div>
  </div>

        </div>
          <div id="welcomeuser" class="ui message"> </div>
        </div>  <div class="ui column">
    <div class="ui grid">
      <div class="ui eight wide column">
   <a href="https://www.imdb.com/title/tt0780504/?ref_=fn_al_tt_1"> <img class="ui medium rounded image" src="https://res.cloudinary.com/dofklqk3g/image/upload/v1651441165/Drive_erobjl.jpg">
      </a>
      </div>
      <div class="ui eight wide column">
       <a href="https://www.imdb.com/title/tt0113247/"> <img class="ui medium rounded image" src="https://res.cloudinary.com/dofklqk3g/image/upload/v1651441165/La_Haine_jn10tk.jpg">
        </a>
         </div>
      <div class="ui eight wide column">
     <a href="https://www.imdb.com/title/tt0369339/?ref_=nv_sr_srsg_3"> <img class="ui medium rounded image" src="https://res.cloudinary.com/dofklqk3g/image/upload/v1651441165/Collateral__Movie_o5zaoq.jpg">
     </a> 
       </div>
      <div class="ui eight wide column">
        <a href="https://www.imdb.com/title/tt0095016/?ref_=fn_al_tt_1">
        <img class="ui medium rounded image" src="https://res.cloudinary.com/dofklqk3g/image/upload/v1651441165/Die_Hard_nrqthh.jpg">
          </a>
      </div>
    </div> 
  </div>

</section>

